*{
    box-sizing: border-box;
}

.jumbotron input[type=text] {
    padding: 6px;
    margin-top: 8px;
    font-size: 17px;
    border: none;
}

.search-container {
    float: right;
    padding: 6px 10px;
    margin-top: 8px;
    margin-right: 16px;
    background: translucent;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }

  .jumbotron input[type=text] {
    border: 2px solid gray;  
  }